<%= form_for(floor_plan, url: project_floor_plans_path) do |f| %>
  <% if floor_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(floor_plan.errors.count, "error") %> prohibited this floor_plan from being saved:</h2>

      <ul>
      <% floor_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="display-name" class="field">
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
  </div>

  <div id="files" class="field">
    <%= f.label :files %>
    <%= f.file_field :files, name: "floor_plan[files][]" %>
  </div>

  <div class="field">
    <%= button_tag "Add more files...", id: "add-more", type: "button" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
