<p id="notice"><%= notice %></p>

<h1><%= @project_name %> Floor Plans</h1>

<table>
  <thead>
    <tr>
      <th>Display name</th>
      <th>Blueprint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @floor_plans.each do |floor_plan| %>
      <tr>
        <td><%= floor_plan.display_name %></td>
        <td><%= link_to floor_plan.blueprint, floor_plan.blueprint %></td>
        <td><%= link_to 'Show', project_floor_plan_path(id: floor_plan.id) %></td>
        <td><%= link_to 'Edit', edit_project_floor_plan_path(floor_plan.project, id: floor_plan.id) %></td>
        <td><%= link_to 'Destroy', project_floor_plan_path(id: floor_plan.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floor Plan', new_project_floor_plan_path %>

<%= link_to 'Back to Projects', projects_path %>
