<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @floor_plan.display_name %>
</p>

<%= image_tag @thumbnail_url %>

<p>
  <strong>Blueprint:</strong>
  <%= @floor_plan.blueprint %>
</p>

<p>
  <%= image_tag @large_url %>
</p>

<%= link_to 'Edit', edit_project_floor_plan_path(@floor_plan.project, id: @floor_plan.id) %> |
<%= link_to 'Back', project_floor_plans_path(@floor_plan.project) %>
